<div class="container">
  <%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :name, class: 'form-group' %>
    <%= f.text_field :name, class: 'form-control shadow rounded' %>
  </p>

  <p>
    <%= f.label :comment, class: 'form-group' %>
    <%= f.text_area :comment, class: 'form-control shadow rounded' %>
  </p>

  <p class="text-center">
    <%= f.submit class: 'form-group art-btn btn-lg' %>
  </p>

  <% end %>
</div>
