<div class="container">

<%= render 'shared/errors' %>


<%= form_with(model: @article, local: true) do |f| %>
  <p>
    <%= f.label :title, class: 'form-group' %>
    <%= f.text_field :title, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :description, class: 'form-group' %>
    <%= f.text_area :description, class: 'form-control' %>
  </p>

  <p>
    <%= f.submit class: 'form-group art-btn' %>
  </p>
<% end %>

<p><%= link_to 'All Articles', articles_path, class: 'links' %></p>

</div>
