<h1>Show Article Details</h1>


  <h2>Title: <%= @article.title %></h2>
  <p><strong>Description:  </strong><%= @article.description %></p>
  <p><%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} %> | <%= link_to 'All Articles', articles_path %></p>

  <p><%= link_to 'back', articles_path %></p>
