
<div class="container">
  <div class="display-1 text-center pt-3 title">
    <%= @article.title %>
  </div>

  <div class="gravatar pb-5">
    <%= link_to gravatar_for(@article.user, size: 200), user_path(@article.user) %>
  </div>
  <div class="font-italic mt-3 text-center">
    <% if @article.user %>
      Created by <%= link_to @article.user.username, user_path(@article.user), class: 'links' %> <%= time_ago_in_words(@article.created_at) %> ago
    <% end %>
  </div>
  <p class="pt-5 description"><%= simple_format(@article.description) %></p>



    <p><%= link_to 'Edit', edit_article_path(@article), class: 'links' %> | <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'}, class: 'danger' %> | <%= link_to 'All Articles', articles_path, class: 'links' %></p>



</div>

<div class="show-footer"><%= render 'layouts/footer' %></div>
