<nav class="navbar navbar-expand-lg navbar-light bg-custom pb-0 mb-0">
  <div class="container-fluid">

    <%= link_to 'The Blog', root_path, class: 'navbar-brand', id: 'logo' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to 'Bloggers', users_path, class: 'nav-link' %>
        </li>

      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'Chat', chat_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure? '}, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
        </li>
      <% end %>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              Articles
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Articles', articles_path, class: 'dropdown-item' %></li>
            <% if logged_in? %>
              <li><%= link_to 'Create New Article', new_article_path, class: 'dropdown-item' %></li>
            <% end %>
              <li><hr class="dropdown-divider"></li>
            </ul>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to 'Categories', categories_path, class: 'dropdown-item' %></li>
              <% if logged_in? && current_user.admin? %>
                <li><%= link_to 'Create New Category', new_category_path, class: 'dropdown-item' %></li>
              <% end %>
                <li><hr class="dropdown-divider"></li>
              </ul>


          <% if logged_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                <%= '(Admin)' if current_user.admin? %> <%= current_user.username.capitalize %>'s Profile'
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to 'View your profile', user_path(current_user), class: 'dropdown-item' %></li>
                <li><%= link_to 'Edit your profile', edit_user_path(current_user), class: 'dropdown-item' %></li>

                <li><hr class="dropdown-divider"></li>
                 <li><%= link_to "Delete profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } %></li>
              <% end %>


          </ul>
        </li>
      </ul>


      <form class="d-flex ml-auto">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
